#date-po{

		margin-left: 2%;

	}



#map  {
		position:absolute;
		width:65%;
		height:92%;

	}



#rightfeed {
		margin-left: 67%;
		margin-right:0 ;
		width: 90%;
		margin-top: -5%;
	}


  #fly {
        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ee8a65;
    }


.marker {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


#chart{
		width: 100%;
		height: 20%;


}

#div-2 {position:absolute;top:0%;right:0px; width: 31%; margin-top: 8%; margin-right: 1%}


